{
  "openapi": "3.0.0",
  "info": {
    "title": "BROKER",
    "version": "1.0",
    "description": "Interaction between the Cloud Broker platform (responsible for managing sensors data) and third-party software applications",
    "contact": {
      "name": "Helder Moreira",
      "email": "helder@spa.pt"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://cloud.spacloud.eu/public/828f269301f96"
    }
  ],
  "paths": {
    "/server": {
      "get": {
        "summary": "SERVER endpoint",
        "tags": [
          "server"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "token": {
                "schema": {
                  "type": "string"
                },
                "description": "Token return by server after authentication process",
                "required": true
              },
              "request-id": {
                "schema": {
                  "type": "string"
                },
                "description": "unique id used in the request HEADER"
              },
              "api-ver": {
                "schema": {
                  "type": "string"
                },
                "description": "API-VER, default is latest stable"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/server"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "": {
            "description": "Response with server info",
            "headers": {
              "token": {
                "schema": {
                  "type": "string"
                },
                "description": "Token return by server after authentication process"
              },
              "request-id": {
                "schema": {
                  "type": "string"
                },
                "description": "unique id used in the request HEADER"
              }
            }
          }
        },
        "operationId": "get-server",
        "description": "Information regarding Cloud Server",
        "requestBody": {
          "description": "Request parameters to be used in future",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            },
            "application/xml": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "token",
            "required": true,
            "description": "Token return by server after authentication process"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "request-id",
            "description": "unique id to be used in the response HEADER"
          },
          {
            "schema": {
              "type": "string",
              "default": "1"
            },
            "in": "header",
            "name": "api-ver",
            "description": "API-VER, default is latest stable"
          }
        ]
      },
      "parameters": []
    },
    "/sgws/{id}": {
      "get": {
        "summary": "SGWS.ID endpoint",
        "tags": [
          "sgws"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sgw": {
                      "$ref": "#/components/schemas/sgw-info"
                    },
                    "sensors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/sensor"
                      }
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sgw": {
                      "$ref": "#/components/schemas/sgw-info"
                    },
                    "sensors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/sensor"
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "token": {
                "schema": {
                  "type": "string"
                },
                "required": true,
                "description": "Token return by server after authentication process"
              },
              "response-id": {
                "schema": {
                  "type": "string"
                },
                "description": "unique id used in the request HEADER"
              },
              "api-ver": {
                "schema": {
                  "type": "string"
                },
                "description": "API-VER, default is latest stable"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            },
            "headers": {
              "token": {
                "schema": {
                  "type": "string"
                },
                "required": true,
                "description": "Token return by server after authentication process"
              },
              "response-id": {
                "schema": {
                  "type": "string"
                },
                "description": "unique id used in the GET HEADER"
              },
              "api-ver": {
                "schema": {
                  "type": "string"
                },
                "description": "API-VER, default is latest stable"
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "operationId": "get-sgws",
        "description": "Endpoint representing the remote smart gateways",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "token",
            "required": true,
            "description": "Token return by server after authentication process"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "response-id",
            "description": "unique id to be used in the response HEADER"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "api-ver",
            "description": "API-VER, default is latest stable"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "examples": {}
            },
            "application/xml": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          },
          "description": ""
        }
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true
        }
      ],
      "post": {
        "summary": "",
        "operationId": "post-sgws-{id}",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sgw-info"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/sgw-info"
                }
              }
            },
            "headers": {
              "token": {
                "schema": {
                  "type": "string"
                },
                "description": "Token return by server after authentication process"
              },
              "response-id": {
                "schema": {
                  "type": "string"
                },
                "description": "unique id used in the post HEADER"
              },
              "api-ver": {
                "schema": {
                  "type": "string"
                },
                "description": "server api ver"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/err-codes"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/err-codes"
                }
              }
            },
            "headers": {
              "token": {
                "schema": {
                  "type": "string"
                },
                "description": "Token return by server after authentication process"
              },
              "request-id": {
                "schema": {
                  "type": "string"
                },
                "description": "unique id used in the post HEADER"
              },
              "api-ver": {
                "schema": {
                  "type": "string"
                },
                "description": "server api ver"
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "description": "Remote SGW operation",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "token",
            "description": "Token return by server after authentication process",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "response-api",
            "description": "unique id to be used in the response HEADER"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "api-ver",
            "description": "API-VER, default is latest stable"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "actions": {
                    "type": "object",
                    "properties": {
                      "action": {
                        "type": "string"
                      },
                      "parms": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "update": {
                    "type": "object",
                    "properties": {
                      "gps": {
                        "$ref": "#/components/schemas/gps"
                      },
                      "adress": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sgws/{id}/dg": {
      "get": {
        "summary": "SGWS.ID.DG endoint",
        "tags": [
          "sgws",
          "database"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "token": {
                "schema": {
                  "type": "string"
                },
                "required": true,
                "description": "Token return by server after authentication process"
              },
              "response-id": {
                "schema": {
                  "type": "string"
                },
                "description": "unique id used in the request HEADER"
              },
              "api-ver": {
                "schema": {
                  "type": "string"
                },
                "description": "API-VER, default is latest stable"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sensor-dg"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "token": {
                "schema": {
                  "type": "string"
                },
                "description": "Token return by server after authentication process",
                "required": true
              },
              "response-id": {
                "schema": {
                  "type": "string"
                },
                "description": "unique id used in the request HEADER"
              },
              "api-ver": {
                "schema": {
                  "type": "string"
                },
                "description": "API-VER, default is latest stable"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/err-codes"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/err-codes"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {}
          }
        },
        "operationId": "get-sgws-sensors",
        "description": "Sensors database entrie from SGW",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "token",
            "required": true,
            "description": "Token return by server after authentication process"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "response-id",
            "description": "unique id to be used in the response HEADER"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "api-ver",
            "description": "API-VER, default is latest stable"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Filter records from database",
                "properties": {
                  "filter": {
                    "type": "object",
                    "description": "Filter records from database",
                    "required": [
                      "time-start",
                      "time-end"
                    ],
                    "properties": {
                      "time-start": {
                        "type": "integer",
                        "description": "Timestamp of first record"
                      },
                      "time-end": {
                        "type": "integer",
                        "description": "Timestamp of last record"
                      },
                      "max-rows": {
                        "type": "integer",
                        "description": "number of max records return"
                      },
                      "sensor-type": {
                        "$ref": "#/components/schemas/sensor-type"
                      }
                    }
                  },
                  "format": {
                    "type": "object",
                    "properties": {
                      "time-frame": {
                        "type": "number",
                        "default": 15,
                        "description": "aggregate readings in X period of minutes, multiple of 15",
                        "minimum": 15,
                        "maximum": 3600,
                        "multipleOf": 15
                      },
                      "avg": {
                        "type": "boolean",
                        "default": true,
                        "description": "return frame average of values"
                      },
                      "high": {
                        "type": "boolean",
                        "default": true,
                        "description": "return frame highest value"
                      },
                      "low": {
                        "type": "boolean",
                        "default": true,
                        "description": "return frame lowest value"
                      }
                    }
                  }
                },
                "required": [
                  "filter"
                ]
              }
            },
            "application/xml": {
              "schema": {
                "type": "object",
                "properties": {
                  "filter": {
                    "type": "object",
                    "description": "Filter records from database",
                    "properties": {
                      "time-start": {
                        "type": "integer",
                        "description": "Timestamp of first record"
                      },
                      "time-end": {
                        "type": "integer",
                        "description": "Timestamp of last record"
                      },
                      "max-records": {
                        "type": "integer",
                        "description": "number of max records return"
                      },
                      "sensor-type": {
                        "$ref": "#/components/schemas/sensor-type"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true
        }
      ]
    },
    "/login": {
      "post": {
        "summary": "Login",
        "operationId": "post-login",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "token": {
                "schema": {
                  "type": "string"
                },
                "description": "Token to be used in future commonications"
              },
              "api-ver": {
                "schema": {
                  "type": "string"
                },
                "description": "server current api"
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "description": "Loging to cloud broker",
        "requestBody": {},
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "user",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "password",
            "required": true
          }
        ],
        "tags": [
          "login"
        ]
      }
    },
    "/sgws": {
      "parameters": [],
      "get": {
        "summary": "SGWS endpoint",
        "tags": [
          "sgws"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "List of SGWS, depending on login permissions\n",
                  "items": {
                    "$ref": "#/components/schemas/sgw-info"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "description": "List of SGWS, depending on login permissions",
                  "items": {
                    "$ref": "#/components/schemas/sgw-info"
                  }
                }
              }
            },
            "headers": {
              "token": {
                "schema": {
                  "type": "string"
                },
                "description": "Token return by server after authentication process",
                "required": true
              },
              "response-id": {
                "schema": {
                  "type": "string"
                },
                "description": "unique id used in the request HEADER"
              },
              "api-ver": {
                "schema": {
                  "type": "string"
                },
                "description": "API-VER, default is latest stable"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "token": {
                "schema": {
                  "type": "string"
                },
                "required": true,
                "description": "Token return by server after authentication process"
              },
              "response-api": {
                "schema": {
                  "type": "string"
                },
                "description": "unique id used in the request HEADER"
              },
              "api-ver": {
                "schema": {
                  "type": "string"
                },
                "description": "API-VER, default is latest stable"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/err-codes"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/err-codes"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "operationId": "get-sgws-{list}",
        "description": "End point representing all SGWS, depending on login permissions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filter": {
                    "type": "object",
                    "description": "filter selection",
                    "properties": {
                      "online": {
                        "type": "boolean",
                        "description": "select SGWs that are online/offline"
                      },
                      "processed-alerts": {
                        "type": "boolean",
                        "description": "filter SGWs with alerts (not)processed"
                      },
                      "cluster": {
                        "type": "string",
                        "description": "select SGWs belonging to a cluster"
                      },
                      "group": {
                        "type": "string",
                        "description": "select SGWs belonging to a group"
                      }
                    }
                  }
                }
              }
            },
            "application/xml": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          },
          "description": ""
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "token",
            "required": true,
            "description": "Token return by server after authentication process"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "response-id",
            "description": "unique id to be used in the response HEADER"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "api-ver",
            "description": "API-VER, default is latest stable"
          }
        ]
      }
    },
    "/sgws/{id}/alerts": {
      "parameters": [
        {
          "type": "string",
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "uuid of SGW"
        }
      ],
      "get": {
        "summary": "SGWS.ID.ALERTS endpoint",
        "tags": [
          "sgws",
          "database"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "token": {
                "schema": {
                  "type": "string"
                },
                "required": true,
                "description": "Token return by server after authentication process"
              },
              "response-api": {
                "schema": {
                  "type": "string"
                },
                "description": "unique id used in the request HEADER"
              },
              "api-ver": {
                "schema": {
                  "type": "string"
                },
                "description": "API-VER, default is latest stable"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/sgw-alerts"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/sgw-alerts"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "token": {
                "schema": {
                  "type": "string"
                },
                "description": "Token return by server after authentication process",
                "required": true
              },
              "response-api": {
                "schema": {
                  "type": "string"
                },
                "description": "unique id used in the request HEADER"
              },
              "api-ver": {
                "schema": {
                  "type": "string"
                },
                "description": "API-VER, default is latest stable"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/err-codes"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/err-codes"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "headers": {}
          }
        },
        "operationId": "get-sgws-{id}-alerts",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "token",
            "required": true,
            "description": "Token return by server after authentication process"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "response-id",
            "description": "unique id to be used in the response HEADER"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "api-ver",
            "description": "API-VER, default is latest stable"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filter": {
                    "type": "object",
                    "properties": {
                      "processed": {
                        "type": "boolean"
                      },
                      "time-start": {
                        "type": "integer"
                      },
                      "time-end": {
                        "type": "integer"
                      },
                      "max-rows": {
                        "type": "integer",
                        "default": 100,
                        "description": "Max return records"
                      }
                    }
                  }
                }
              }
            },
            "application/xml": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          },
          "description": "A filter can be apply to the results return"
        },
        "description": "Return alerts store in the Database concerning a specific SGW, if no BODY is send the last 100 rows will be return"
      },
      "post": {
        "summary": "",
        "operationId": "post-sgws-{id}-alerts",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "token": {
                "schema": {
                  "type": "string"
                },
                "description": "Token return by server after authentication process",
                "required": true
              },
              "response-id": {
                "schema": {
                  "type": "string"
                },
                "description": "unique id used in the POST HEADER"
              },
              "api-ver": {
                "schema": {
                  "type": "string"
                },
                "description": "unique id to be used in the response HEADER"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/sgw-alerts"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/sgw-alerts"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "token": {
                "schema": {
                  "type": "string"
                },
                "description": "Token return by server after authentication process"
              },
              "response-id": {
                "schema": {
                  "type": "string"
                },
                "description": "unique id used in the POST HEADER"
              },
              "api-ver": {
                "schema": {
                  "type": "string"
                },
                "description": "unique id to be used in the response HEADER"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/err-codes"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/err-codes"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "description": "Change alert status",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "token",
            "required": true,
            "description": "Token return by server after authentication process"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "response-id",
            "description": "unique id to be used in the response HEADER"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "api-ver",
            "description": "API-VER, default is latest stable"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "alert-id": {
                    "type": "string",
                    "description": "alert id"
                  },
                  "processed": {
                    "type": "boolean",
                    "description": "chage alert process status"
                  },
                  "notes": {
                    "type": "string",
                    "description": "aditional notes"
                  }
                },
                "required": [
                  "alert-id",
                  "processed"
                ]
              }
            },
            "application/xml": {
              "schema": {
                "type": "object",
                "properties": {
                  "alert-id": {
                    "type": "string"
                  },
                  "processed": {
                    "type": "boolean"
                  },
                  "notes": {
                    "type": "string"
                  }
                }
              },
              "examples": {}
            }
          },
          "description": ""
        }
      }
    }
  },
  "components": {
    "schemas": {
      "sensor": {
        "title": "sensor",
        "type": "object",
        "description": "Model for Sensor description",
        "properties": {
          "id": {
            "type": "string"
          },
          "mac": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "last-comm": {
            "type": [
              "string",
              "integer"
            ]
          },
          "manufactor": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "LQI": {
            "type": "number"
          },
          "RSSI": {
            "type": "number"
          },
          "battery-level": {
            "type": "integer"
          },
          "tecnology": {
            "type": "boolean"
          },
          "type": {
            "$ref": "#/components/schemas/sensor-type"
          },
          "endpoints": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        },
        "required": [
          "id",
          "mac",
          "name",
          "last-comm",
          "manufactor",
          "model",
          "LQI",
          "RSSI",
          "battery-level",
          "tecnology",
          "type",
          "endpoints"
        ]
      },
      "sensor-dg": {
        "title": "sensor-dg",
        "type": "object",
        "description": "Model for Database entries of sensors readings",
        "properties": {
          "id": {
            "type": "number"
          },
          "sensor-id": {
            "type": "string"
          },
          "dg-type": {
            "type": "integer"
          },
          "timestamp": {
            "type": "integer"
          },
          "values": {
            "type": "array",
            "items": {
              "type": "number"
            }
          }
        },
        "required": [
          "id",
          "sensor-id",
          "dg-type",
          "timestamp",
          "values"
        ]
      },
      "sgw-alerts": {
        "title": "sgw-dg-alerts",
        "type": "object",
        "description": "Alert entries from SGW and respective sensors",
        "properties": {
          "id": {
            "type": "string"
          },
          "sensor-id": {
            "type": "string"
          },
          "timestamp": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          },
          "level": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "processed": {
            "type": "boolean"
          },
          "raw": {
            "type": "object"
          },
          "notes": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "sensor-id",
          "timestamp",
          "type",
          "level",
          "description",
          "processed"
        ]
      },
      "gps": {
        "title": "gps",
        "type": "object",
        "description": "GPS location",
        "properties": {
          "lat": {
            "type": "string"
          },
          "long": {
            "type": "string"
          }
        },
        "required": [
          "lat",
          "long"
        ]
      },
      "server": {
        "title": "server",
        "type": "object",
        "description": "List of Cloud Broker Server capabilities and status",
        "properties": {
          "id": {
            "type": "string"
          },
          "timestamp": {
            "type": "integer"
          },
          "encryption": {
            "$ref": "#/components/schemas/encryption-supported"
          },
          "api-ver": {
            "type": "string",
            "description": ""
          }
        },
        "required": [
          "id",
          "timestamp",
          "encryption",
          "api-ver"
        ]
      },
      "encryption-supported": {
        "title": "encryption-types",
        "type": "object",
        "description": "Type of encryption communications supported",
        "properties": {
          "MCRYPT_RIJNDAEL_256": {
            "type": "boolean"
          },
          "blockchain": {
            "type": "boolean"
          }
        }
      },
      "sensor-type": {
        "title": "sensor-type",
        "type": "object",
        "description": "Model of sensor capabilities",
        "properties": {
          "ligth": {
            "type": "boolean"
          },
          "temp": {
            "type": "boolean"
          },
          "mov": {
            "type": "boolean"
          },
          "hum": {
            "type": "boolean"
          },
          "alarm": {
            "type": "boolean"
          },
          "co2": {
            "type": "boolean"
          }
        },
        "required": [
          "ligth",
          "temp",
          "mov",
          "hum",
          "alarm",
          "co2"
        ]
      },
      "sgw-info": {
        "title": "sgw-info",
        "type": "object",
        "description": "Simple Model representation of the remote SGW object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "hw-ver": {
            "type": "string"
          },
          "cluster": {
            "type": "string"
          },
          "group": {
            "type": "string"
          },
          "last-comm": {
            "type": "string"
          },
          "sofware-ver": {
            "type": "string"
          },
          "public-ip": {
            "type": "string"
          },
          "local-ip": {
            "type": "string"
          },
          "gps": {
            "$ref": "#/components/schemas/gps"
          },
          "adress": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "id",
          "name",
          "hw-ver",
          "cluster",
          "group",
          "last-comm",
          "sofware-ver",
          "public-ip",
          "local-ip"
        ]
      },
      "err-codes": {
        "title": "err-codes",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "msg": {
            "type": "string"
          },
          "note": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "msg",
          "note"
        ]
      }
    },
    "securitySchemes": {
      "API Key - 1": {
        "name": "API Key",
        "type": "apiKey",
        "in": "query"
      },
      "API Key - 2": {
        "type": "http",
        "scheme": "SCRAM-SHA-256"
      }
    }
  }
}